<div ng-model="kanbanBoard"  ng-controller="KanbanController">
	<div>{{messages}}</div>
   <div class="box-wrapper col-lg-3" ng-repeat="column in kanbanBoard.columns" data-columnindex="{{$index}}" id="column{{$index}}">
		
		<div class="list">
			<div class="list-header">
				<span>{{column.name}} ({{column.cards.length}})</span>
			</div>

			<ul class="cards card-list" as-sortable="kanbanSortOptions" ng-model="column.cards">
				<li class="card" id="{{kanbanBoard.columns[$index]}}" ng-repeat="card in column.cards" as-sortable-item ng-include="'views/partials/card.html'"></li>
				<div class="list-card-details">
					<a title="Add card to column" ng-click="addNewCard(column)">Add a card...</a>
				</div>
			</ul>
			
		</div>
	</div>
</div>
